#d{
    background-color:darkgray;
    padding-left: 20px;
    height: 600px;
}
.dw{
    margin-left: 20px;
    text-decoration: none;
    font-size: 30px;
    padding-top: 10px;
}
a{
    text-decoration: none;
    margin-left: 20px;
}
a:hover{
    color: red;
}
.wd1{
    width: 200px;
    height: 410px;
    padding: 20px;
    margin-left: 30px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5%;
}
.wd2{
    width: 200px;
    height: 410px;
    padding: 20px;
    margin-left: 350px;
    margin-top: -455px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5%;
}
.wd3{
    width: 200px;
    height: 410px;
    padding: 20px;
    margin-left: 670px;
    margin-top: -455px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5%;
}
.wd4{
    width: 200px;
    height: 410px;
    padding: 20px;
    margin-left: 990px;
    margin-top: -455px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5%;
}
.wh1{
    margin-left: 60px;
}
.wd1p{
    text-decoration:line-through;
}

.wd1rs{
    margin-left: 70px;
    font-weight: bold;
}
.wd1of{
    margin-left: 30px;
}
#sm{
    font-size: 20px;
    margin-left: 1200px;
    margin-top: 15px;
}